@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TalentFlow Human Resources Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Favicons -->
    <link href="~/company-manager/img/logofav.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/company-manager/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/company-manager/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/company-manager/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/company-manager/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/company-manager/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/company-manager/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/company-manager/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/company-manager/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/company-manager/css/bootstrap.min.css">
    <link href="~/company-manager/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">

    <style>
        .back {
            background: #e2e2e2;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
        }

        .div-center {
            width: 400px;
            height: 400px;
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
            padding: 1em 2em;
            border-bottom: 2px solid #ccc;
            display: table;
        }

        div.content {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<div class="back">
    <div class="div-center">
        <div class="content">
                <h3>Reset Password</h3>
            <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" value="@ViewData["Email"]" readonly />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </form>
        </div>
        </div>
    </div>
</body>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="~/company-manager/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/company-manager/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/company-manager/vendor/chart.js/chart.umd.js"></script>
<script src="~/company-manager/vendor/echarts/echarts.min.js"></script>
<script src="~/company-manager/vendor/quill/quill.min.js"></script>
<script src="~/company-manager/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/company-manager/vendor/tinymce/tinymce.min.js"></script>
<script src="~/company-manager/vendor/php-email-form/validate.js"></script>
<script src="~/company-manager/js/main.js"></script>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
